<mat-nav-list>
    <div class="logo py-4 d-flex justify-content">
        <a href="#"><img src="../../assets/logo.png"></a>
        <span class="title"><b>GMS</b></span>
    </div>
    <mat-divider></mat-divider>
    <h2 matSubheader class="mt-2">Applictions</h2>
    <!-- <a mat-list-item routerLinkActive="list-item-active" routerLink="/home">
        <mat-icon>home</mat-icon> Home
      </a> -->
      <a mat-list-item routerLinkActive="list-item-active" routerLink="dashboard">
        <mat-icon>dashboard</mat-icon> Dashboard
      </a>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="trainers">
        <mat-icon>accessibility_new</mat-icon> Trainers
      </a>
     <!-- <a  mat-list-item routerLinkActive="list-item-active" ><mat-icon>accessibility_new</mat-icon>Trainers</a> -->
     <a  mat-list-item routerLinkActive="list-item-active" routerLink="trainees"><mat-icon>accessibility</mat-icon>Trainees</a>

    <a  mat-list-item routerLinkActive="list-item-active" routerLink="products"><mat-icon>shopping_cart</mat-icon>Prouducts</a>
    <a  mat-list-item routerLinkActive="list-item-active" routerLink="orders"><mat-icon>assignment</mat-icon>Orders</a>
    <a  mat-list-item routerLinkActive="list-item-active" routerLink="notifications"><mat-icon>notifications_active</mat-icon>Notification</a>
    <button mat-button color="warn"><mat-icon>launch</mat-icon>Go To WebSite</button>
</mat-nav-list> 

