<div class="body">
    <div class="backGroundImage container-fluid">
		<div class="box">
			<form [formGroup]="addform" (ngSubmit)="Login()">
				<div class="form">
					<h2>Login</h2>
					<div class="inputBox">
						<input type="text" formControlName="email" required>
						<span>Email</span>
						<i></i>
					</div>
					<div class="inputBox">
						<input type="password" formControlName="password" required>
						<span>Password</span>
						<i></i>
					</div>
					<!-- <div class="links">
						<a href="#">Forgot Password ?</a>
						<a href="#">SignUp</a>
					</div> -->
					<p [ngStyle]="{display:display}" class="alert alert-danger">Your Email or Password is not valid </p>
					  <button class="button">LOGIN</button>
					  
				</div>
			</form>
		</div>
	</div>
</div>