
* {
    font-family: "Montserrat", sans-serif;
  }
  
  html,
  body {
    height: 100%;
  }
  body {
    // background-color: #ff5733;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
  }
  .modal-backdrop {
    z-index: -10;
  }
  
  .mat-sort-header-container {
    display: flex;
    cursor: pointer;
    align-items: center;
    letter-spacing: normal;
    outline: 0;
    justify-content: center;
  }